{% extends "base.html" %}

{% block head %}
	<base target="_parent" />
	<script type="text/javascript" src="/static/jquery-1.11.0.min.js"></script>
{% endblock %}

{% block content %}
	<p class="info_text" style="border: 1px solid #aeaeae; padding: 3px;">
		The following is the list of achievement badges you can collect in this course. 
		These badges are a way of providing additional feedback on your performance. 
		They will not affect your score or grading on the course.
	</p>

	{% if show_badges %}
		<button id="toggle_badge" style="padding: 5px;">Showing badges. Click to turn them OFF.</button>
	{% else %}
		<button id="toggle_badge" style="padding: 5px;">Not showing badges. Click to turn them ON.</button>
	{% endif %}
	
	{% if user_badges %}
		<h3 class="badge_title">Your badges</h3>
		<p class="info_text">You have achieved {{user_badges|length}}/{{all_badges|length}} badges.</p>

		{% for badge in user_badges %}		
			{% include "awarded_badge.html" with badge=badge %}    
		{% endfor %}	
	{% else %}
		<p class="info_text">You haven't achieved any badges yet.</p>
	{% endif %}

	<div style="clear:both;">&nbsp;</div>
	{% if badges %}
		<h3 class="badge_title">Available badges on the course</h3>
		{% for badge in badges %}		
			{% include "badge.html" with badge=badge %}    
		{% endfor %}
		<div style="clear:both;">&nbsp;</div>
	{% else %}
		<p class="info_text"></p>
	{% endif %}

<div style="clear:both;">&nbsp;</div>


<script>
	$("#toggle_badge").click( function() {
		$.post( "/user/toggle_badges/", { user_id: "{{user_id}}", user_hash: "{{user_hash}}" }, function( data ) {
			if(data === "True") {
				$("#toggle_badge").text("Showing badges. Click to turn them OFF.")
			} else {
				$("#toggle_badge").text("Not showing badges. Click to turn them ON.")
			}

		}).fail(function(data) { });
	});
</script>

{% endblock  %}